<link rel="stylesheet" href="/styles.css">
<a href="/" class="emp">Home</a>
<h2>Insert Data</h2>
<form action="/insert" method="post">
    <div>
        <label for="id">ID : </label>
        <input type="text" name="id" id="id">
    </div>
    <div>
        <label for="fName">First Name : </label>
        <input type="text" name="fName" id="fn">
    </div>
    <div>
        <label for="lName">Last Name : </label>
        <input type="text" name="lName" id="ln">
    </div>
    <div>
        <label for="email">E-Mail : </label>
        <input type="text" name="email" id="em">
    </div>
    <input type="submit" value="SUBMIT">
</form>
<div id="alert">
    <%= message %>
</div>